<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeptideScreener - Documentation V{{ app_version }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Urbanist:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css">
</head>
<body>
    <div class="container">
        <h1 class="intro-title">Documentation for PeptideScreener - V{{ app_version }}</h1>
        <div class="intro-subtitle">
            Here you will find brief information about used tools with links to specific pages
        </div>

        <div class="card">
            <h2>TOXICITY PREDICTOR</h2>
            <p class="text-muted mb-3"> description</p>
            <strong><a href="https://github.com/VachaLab/ACP-designer">MORE INFO</a></strong>
        </div>

        <hr class="section-divider">

        <div class="card">
            <h2>WILL SOLUBILITY PREDICTOR</h2>
            <p class="text-muted mb-3"> description</p>
            <strong><a href="https://github.com/shakespearemorton/AmpHel_Solubility">MORE INFO</a></strong>
        </div>

        <hr class="section-divider">

        <div class="card">
            <h2>JANA SOLUBILITY PREDICTOR</h2>
            <p class="text-muted mb-3"> description</p>
            <strong><a href="link">MORE INFO</a></strong>
        </div>

        
        <!-- ADD FOLLOWING BLOCK TO ADD DOCUMENTATION FOR NEW TOOL -->
        <!-- <hr class="section-divider">

        <div class="card">
            <h2>YOUR TOOL</h2>
            <p class="text-muted mb-3"> description</p>
            <strong><a href="link">MORE INFO</a></strong>
        </div> -->

        <hr class="section-divider">

        <div class="card">
            <h2>SCREENER DESIGN</h2>

            <p class="text-muted mb-4">
            Currently shows how well peptides can be classified with different feature sets.<br>
            <strong>Soon:</strong> use designed screener directly in Screening page + download script to run screener locally.
            </p>

            <hr>

            <h3 class="mt-4 mb-2">Feature generation options</h3>
            <div class="list-group">
            <div class="list-group-item">
                <strong>ESM2, PBERT</strong><br>
                <small>Protein language model embeddings</small>
            </div>
            <div class="list-group-item">
                <strong>PCHEM</strong><br>
                <small>Classic physicochemical descriptors, output will include feature importance</small>
            </div>
            <div class="list-group-item">
                <strong>CUSTOM_FEATURES</strong><br>
                <small>Use your own pre-computed features from CSV, output will include feature importance. (Features have to be included in uploaded train an validation CSV files !)</small>
            </div>
            </div>

            <hr>

            <h3 class="mt-4 mb-2 text-danger">Current constraints / issues</h3>
            <ul class="mb-4">
            <li>Labels must be binary: <code>0</code> / <code>1</code></li>
            <li>Only <strong>Random Forest</strong> classifier is available for now</li>
            <li>PLM approaches <strong>Overfit on training dataset</strong></li>
            </ul>

        </div>

        <hr class="section-divider">

        <a href="{{ url_for('main_page') }}" class="back-link">
            <i class="fas fa-arrow-left"></i> Main Page
        </a>

    </div>


</body>
</html>