<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeptideScreener - Documentation V{{ app_version }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Urbanist:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css">
</head>
<body>
    <div class="container">
        <h1 class="intro-title">Documentation for PeptideScreener - V{{ app_version }}</h1>
        <div class="intro-subtitle">
            Here you will find brief information about used tools with links to specific pages
        </div>
    </div>


</body>
</html>